<!DOCTYPE html>
<html lang="en">
<head>
    <title>CenturyLink Cloud Cost Estimator</title>
    <meta charset="UTF-8" />
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "activate" %>
    <%= stylesheet_link_tag "rangeslider" %>
    <%= stylesheet_link_tag "main" %>

    <script type="text/javascript" src="//use.typekit.net/ytc4emj.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body>
    <section class="header">
        <div class="main navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="brand">
                        <a href="/" class="logo">
                            <%= image_tag "/images/logo.png" %>
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="/contact" class="btn btn-inverse">Contact</a>
                        <div class="header-phone" style="">1.877.388.4373</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<section class="page-title estimator">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Total Cost of Ownership Tool</h1>
            </div>
        </div>
    </div>
</section>


<section class="page-form">

<%= yield %>

</section>

    <section class="page-footer">
        <div class="container">
            <div class="row copyright">
                <div class="span6">
                    &copy; 2014 CenturyLink, Inc. All rights reserved. All other trademarks cited here are the properties of their respective owners.
                </div>
            </div>
        </div>
    </section>

    <%= javascript_include_tag  "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
    <%= javascript_include_tag  "http://www.centurylinkcloud.com/assets/js/bootstrap.min.js" %>
    <%= javascript_include_tag  "http://www.centurylinkcloud.com/assets/js/bootstrap-tooltip.js" %>
    <%= javascript_include_tag  "vendor", "all" %>

    <script language='javascript'>
        var lpMTagConfig = {
            'lpServer': "sales.liveperson.net",
            'lpNumber': "56948775",
            'lpProtocol': (document.location.toString().indexOf('https:') == 0) ? 'https' : 'http'
        };
        function lpAddMonitorTag(src) {
            if (typeof (src) == 'undefined' || typeof (src) == 'object') {
                src = lpMTagConfig.lpMTagSrc ? lpMTagConfig.lpMTagSrc : '/hcp/html/mTag.js';
            } if (src.indexOf('http') != 0) {
                src = lpMTagConfig.lpProtocol + "://" + lpMTagConfig.lpServer + src + '?site=' + lpMTagConfig.lpNumber;
            } else {
                if (src.indexOf('site=') < 0) {
                    if (src.indexOf('?') < 0) src = src + '?'; else src = src + '&'; src = src + 'site=' + lpMTagConfig.lpNumber;
                }
            };
            var s = document.createElement('script');
            s.setAttribute('type', 'text/javascript');
            s.setAttribute('charset', 'iso-8859-1');
            s.setAttribute('src', src);
            document.getElementsByTagName('head').item(0).appendChild(s);
        }
        if (window.attachEvent)
            window.attachEvent('onload', lpAddMonitorTag); else window.addEventListener("load", lpAddMonitorTag, false);
    </script>

    </body>
</html>
